#main{
    width: 1000px;
    display: table;
    border-collapse: collapse;
	border-spacing: 0;
}
.caroRow{   
    padding: 0px;
    display: table-row;
}
.caroCell{
    width: 20px;
    height: 20px;
    padding: 0px;
    display: inline-block;
    margin: 5px;
    background-image: url("img/null.jpg");
}
button.buttonGame{
    width: 25px;
    height: 25px;
    padding: 0px;
}
img{
    margin: 0px;
}