#mainBoard{
    max-width: 1000px;
    display: inline-block;
    margin: 0px;
}
.caroRow{
    display: block;
    margin-bottom: 2px;
}
.caroCell{
    width: 20px;
    height: 20px;
    padding: 0px;
    display: inline-block;
    margin-left: 8px;
    background-image: url("img/null.jpg");
    text-align: center;
}
button.buttonGame{
    width: 25px;
    height: 25px;
    padding: 0px;
}
img{
    margin: 0px;
}